torch==2.3.1
pandas==2.2.2
transformers==4.40.0
datasets==2.16.1
requests==2.31.0
SPARQLWrapper==2.0.0
baukit @ git+https://github.com/davidbau/baukit@9d51abd51ebf29769aecc38c4cbef459b731a36e
matplotlib==3.9.0
seaborn==0.13.2
